@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dark-theme {
  background-color: #0f172a;
}

.dark-theme main {
  background-color: #0f172a !important;
}

.dark-theme section {
  background-color: #0f172a !important;
}

.dark-theme .card-dark {
  background-color: #1e293b !important;
  color: white !important;
}

.dark-theme .card-dark p {
  color: #cbd5e1 !important;
}